## Mini Project III

***Task I***:
* create two separate customer segmentations (using clustering) to split them into 3-5 clusters:
    * based on demographics (only on the information from twm_customer)
    * based on their banking behavior. 
        do they have savings account? How much do they save?
        do they have credit account? How much do they live in debt?
        are they making lot of small transactions or few huge ones?

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.cluster import KMeans
import plotly.graph_objects as go
from sklearn.decomposition import PCA

### Demographics Cluster

In [ ]:
#hello

### Banking Behavior Cluster

#### Saving Account

In [7]:
df=pd.read_csv('data/twm_savings_acct.csv',sep=';')

#### Checking Account

In [ ]:
df=pd.read_csv('data/twm_checking_acct.csv',sep=';')

#### Credit Account

In [ ]:
df=pd.read_csv('data/twm_credit_acct.csv',sep=';')

####  Account Transaction

In [ ]:
df=pd.read_csv('data/twm_checking_acct.csv',sep=';')

***Task II***:
* visualize the created clusters using radar charts and compare them agains each other

***Task III***:
* visualize segmentations using scatter plot. We will have to use PCA to be able to plot our observations in 2D.

***Task IV***:
* (stretch) visualize in 2D how our clusters are evolving in each iteration of KMeans (for at least 20 iterations).we will need to create own implementation of kmeans so we can see what is happening with the clusters during the iterations.

## Mini Project III

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.cluster import KMeans
import plotly.graph_objects as go
from sklearn.decomposition import PCA

### Load data into DataFrame

In [7]:
df=pd.read_csv('data/twm_savings_acct.csv',sep=';')

In [8]:
df.head()

,cust_id,acct_nbr,minimum_balance,acct_type,account_active,acct_start_date,acct_end_date,starting_balance,ending_balance
0,1363160,13631603,100,BS,Y,9.5.1988,NaN,113.04,122.54
1,1362487,13624873,500,MM,N,27.6.1994,25.8.1995,651.73,12.89
2,1362548,13625483,100,BS,Y,11.11.1986,NaN,250.24,254.02
3,1362752,13627523,100,BS,Y,20.2.1995,NaN,600.26,609.33
4,1363017,13630173,100,BS,N,27.4.1994,31.10.1995,2011.02,2901.35

In [ ]:
df=pd.read_csv('data/twm_savings_acct.csv',sep=';')