## Mini Project III

In [1]:
import pandas as pd  # Pandas is a library of python used for data manipulation and analysis.
import numpy as np  # Numpy is a general-purpose array-processing package
import matplotlib.pyplot as plt  # Matplotlib.pyplot is a collection of functions for plotting area in a figure
import seaborn as sns # Seaborn is a python data visualization library built on top of Matplotlib
import warnings  # Warnings are provided to warn the developer of situations that aren't necessarily exceptions.
import plotly.graph_objects as go  # contains an automatically-generated hierarchy of Python classes which represent non-leaf nodes in this figure schema

%matplotlib inline
warnings.filterwarnings('ignore')

In [6]:
df=pd.read_csv('data/twm_savings_acct.csv', sep=";")
df.head()

,cust_id,acct_nbr,minimum_balance,acct_type,account_active,acct_start_date,acct_end_date,starting_balance,ending_balance
0,1363160,13631603,100,BS,Y,9.5.1988,NaN,113.04,122.54
1,1362487,13624873,500,MM,N,27.6.1994,25.8.1995,651.73,12.89
2,1362548,13625483,100,BS,Y,11.11.1986,NaN,250.24,254.02
3,1362752,13627523,100,BS,Y,20.2.1995,NaN,600.26,609.33
4,1363017,13630173,100,BS,N,27.4.1994,31.10.1995,2011.02,2901.35